html,body
{
	height:100%;
}

* 
{
    box-sizing: border-box;
}

body
{
	margin:0px;
	padding:0px;
	font-family:"Work Sans", sans-serif;
	background-color:#f7f7f9;
}

* 
{
    box-sizing: border-box;
}

body
{
	margin:0px;
	padding:0px;
	font-family:"Work Sans", sans-serif;
	background-color:#f7f7f9;
}

.one
{
	height:20em;
	width:auto;
	background:url('1.jpg') no-repeat center;
	background-size:cover;
	width:100%;
}

.two
{
	margin:auto;
	text-align:center;
	width:80%;	
	height:10em;
	position:relative;
	bottom:2em;
	z-index:999;
}

.three
{
	margin:auto;
	height:15%;
	width:80%;
	position:relative;
	top:5em;
	text-align:center;

}

.four
{
	height:20em;
	width:auto;
	position:relative;
	top:5em;
	text-align:center;
	top:45em;
	background-size:cover;
}

.five
{
	height:20em;
	width:100%;
	position:relative;
	text-align:center;
	top:48em;
}


ul
{
	text-align:center;
}

li
{
	display:inline;
	width:50%;
}

table
{
	background-color:#ffffff;
	padding:0px;
	margin:0px;
}

td
{
	text-align:left;
	padding:0px;
	margin:0px;
}
ul.menu
{
	float:left;
	height:2.5em;
	width:100%;
	font-size:0.7em;
	font-weight:700;
	padding:0.6em;
	color:rgba(255,255,255,0.7);
	margin:0px;
	background-color:rgba(0,0,0,0.5);
	background-size:cover;
	text-align:left;

}

li.header
{
	padding:0.5em;
	border-right:0.1em solid rgba(255,255,255,0.3);
}

li.header:hover
{
	padding:0.5em;
	color:rgb(255,255,255);
}

#logo
{
	height:1em;
	width:auto;
}

li.tom
{
	display:block;
	color:black;
	font-size:0.7em;
	line-height:2em;
	height:2em;
	width:15em;
	background-color:white;
	padding-bottom:3.5em;
	border-bottom:0.1em solid #DCDADC;
}

ul.tom
{
	float:left;
}

li.set
{
	color:white;
	font-size:0.7em;
	font-weight:600;
	background: linear-gradient(to right,#cc0066,#800040);
	padding:1.3em;
	
}

li.set:hover
{
	color:white;
	font-size:0.7em;
	font-weight:600;
	background: linear-gradient(to right,#800040,#cc0066);
	padding:1.3em;
}

td.pics
{
	height:20em; 
	width:20em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:2em;
	margin-right:2em;
	padding-left:1em;
}

td.pics:hover
{
	height:20em; 
	width:20em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:2em;
	margin-right:2em;
	padding-left:3em;
}

.pic
{
	margin-top:25em;
	font-size:0.6em;
	letter-spacin:0.06em;
	font-weight:600;
}

.down
{
	width:20em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:2em;
	margin-right:2em;
	padding-left:1em;
}

h3
{
	font-weight:500;
}

td.down
{
	height:15em; 
	width:20em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:2em;
	margin-right:3em;
	padding-left:1em;
	padding-top:13em;
	box-sizing:border-box;
	font-size:1em;
	text-align:center;

}

th.down
{
	font-size:0.8em;
	width:20em; 
	display:inline-block;
	margin-bottom:0.5em;
	margin-top:2em;
	padding-right:4.5em;
	color:#976BAE;
	
}

li.up
{
	color:#DE6EC8;
	padding-left:1em;
}

ul.up
{
	float:left;
}

ul.duo
{
	display:block;
	background-color:#7B596D;
	color:white;
	font-size:0.7em;
}

img.small
{
	height:3em;
	float:left;
	width:4em;
}

td.last
{ 
        
	width:20%; 
	height:auto; 
	display:inline-block;
	line-height:1.7em;
	
	
}

li.dropdown
{

	font-size:0.9em;
	display:inline-block;
}

ul.last
{
	padding-top:0px;
	margin:0px;
}

img.icon
{
	height:1em;
	width:1em;
	margin:1em;
}

table.footer
{
	background-color:#f7f7f9;
	width:80%;
	margin-left:10em;
}

td.footer
{
	margin-right:15em;
}


#head
{
	margin-right:50em;
}

@media only screen and (max-width:360px) and (max-height:560px)
{

html,body
{
	height:100%;
}

* 
{
    box-sizing: border-box;
}

body
{
	margin:0px;
	padding:0px;
	font-family:"Work Sans", sans-serif;
	background-color:#f7f7f9;
}

.one
{
	height:5em;
	background:url('1.jpg') no-repeat center;
	background-size:cover;
	width:100%;
}

.two
{
	margin:auto;
	text-align:center;
	width:80%;	
	height:2.5em;
	position:relative;
	bottom:1em;
	z-index:999;
}

.three
{
	margin:auto;
	height:15%;
	width:80%;
	position:relative;
	top:2em;
	text-align:center;

}

.four
{
	height:10em;
	width:auto;
	position:relative;
	text-align:center;
	top:22.5em;
	background-size:cover;
}

.five
{
	height:10em;
	width:100%;
	position:relative;
	text-align:center;
	top:24em;
}


ul
{
	text-align:center;
}

li
{
	display:inline;
	width:50%;
}

table
{
	background-color:#ffffff;
	padding:0px;
	margin:0px;
}

td
{
	text-align:left;
	padding:0px;
	margin:0px;
}
ul.menu
{
	float:left;
	height:1.25em;
	width:100%;
	font-size:0.35em;
	font-weight:700;
	padding:0.3em;
	color:rgba(255,255,255,0.7);
	margin:0px;
	background-color:rgba(0,0,0,0.5);
	background-size:cover;
	text-align:left;

}

li.header
{
	padding:0.25em;
	border-right:0.05em solid rgba(255,255,255,0.3);
}

#logo
{
	height:0.5em;
	width:auto;
}

li.set
{
	color:white;
	font-size:0.35em;
	font-weight:600;
	background: linear-gradient(to right,#cc0066,#800040);
	padding:0.65em;
	
}

li.set:hover
{
	color:white;
	font-size:0.35em;
	font-weight:600;
	background: linear-gradient(to right,#800040,#cc0066);
	padding:0.65em;
}

td.pics
{
	height:10em; 
	width:10em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:1em;
	margin-right:1em;
	padding-left:0.5em;
}

td.pics:hover
{
	height:10em; 
	width:10em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:1em;
	margin-right:1em;
	padding-left:1.5em;
}

.pic
{
	margin-top:12.5em;
	font-size:0.3em;
	letter-spacin:0.03em;
	font-weight:600;
}

.down
{
	width:10em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:1em;
	margin-right:1em;
	padding-left:0.5em;
}

h3
{
	font-weight:500;
}

td.down
{
	height:7.5em; 
	width:10em; 
	display:inline-block;
	background-size:cover; 
	color:white;
	margin-bottom:1em;
	margin-right:1.5em;
	padding-left:0.5em;
	padding-top:6.5em;
	box-sizing:border-box;
	font-size:0.5em;
	text-align:center;

}

th.down
{
	font-size:0.4em;
	width:10em; 
	display:inline-block;
	margin-bottom:0.25em;
	margin-top:1em;
	padding-right:2.25em;
	color:#976BAE;
	
}

li.up
{
	color:#DE6EC8;
	padding-left:0.5em;
}

ul.up
{
	float:left;
}

ul.duo
{
	display:block;
	background-color:#7B596D;
	color:white;
	font-size:0.35em;
}

img.small
{
	height:1.5em;
	float:left;
	width:4em;
}

td.last
{ 
        
	width:20%; 
	height:auto; 
	display:inline-block;
	line-height:0.85em;
	
	
}

li.dropdown
{

	font-size:0.45em;
	display:inline-block;
}

ul.last
{
	padding-top:0px;
	margin:0px;
}

img.icon
{
	height:0.5em;
	width:0.5em;
	margin:0.5em;
}

table.footer
{
	background-color:#f7f7f9;
	width:80%;
	margin-left:5em;
}

td.footer
{
	margin-right:7.5em;
}


#head
{
	margin-right:25em;
}

}